
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="~/Content/FirewoodStyleSheet.css" />
    <script src="JavaScript_Login.js" type="text/javascript"></script>
</head>

<body>
    <!--Header ----------------------------------------------------------------------------->
    <header>FIREWOOD PROJECT</header>
    <!--Navbar ------------------------------------------------------------------------------>
    <div class="container-fluid">
        <nav class="navbar ">
            <div class="container-fluid">
                <div class="row">
                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            <li><a href="~/Views/Home/Index.cshtml" target="_blank">Home</a></li>
                            <li><a href="~/Views/Home/About.cshtml" target="_blank">About</a></li>
                            <li><a href="~/Views/Home/Order.cshtml" target="_blank">Order Firewood</a></li>
                            <li><a href="~/Views/Home/Contact.cshtml" target="_blank">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!--Main image -------------------------------------------------------------------------->
    <div class="container-fluid">
        <img class="img1" src="~/Content/images/FWP.png" />
    </div>

    <form>
        <div align="right" id="login">
            <input class="usern" type="text" id="user" name="user" placeholder="Username" />
            <input class="pass" type="text" id="psw" name="password" placeholder="Password" />
            <input class="loginBtn" type="submit" name="submit" value="Login" onclick="return loginValidation();" /><br /><br />
            Not a Member? <input class="registerBtn" type="button" name="" value="Register" onclick="window.location.href='~/Views/Home/Register.cshtml'" />
        </div>
    </form>

    <!--Home text ----------------------------------------------------------------------------->
    <div class="text">
        <h3><strong>Delivery To These Areas</strong></h3>
        <br />
        <p><h4><strong>Bellevue</strong></h4></p>
        <p><h4><strong>Seattle</strong></h4></p>
        <p><h4><strong>Renton</strong></h4></p>
        <p><h4><strong>Redmond</strong></h4></p>
    </div>

    <!--Helpgul link -------------------------------------------------------------------------------->
    <div class="text">
        <form>
            <div>
                <p><h3><strong>Firewood Tips: </strong></h3></p><br />
            </div>

            <input class="MyButton" type="button" value="Learn More" onclick="window.location.href='https://www.almanac.com/content/best-firewood-heat-values-wood-burning-tips'" />
        </form>
    </div>
    <br /><br /><br />

    <!--Footer ----------------------------------------------------------------------------------->
    <div class="footer">
        <p>
            FireWood Project<br />
            Located on a Street<br />
            In a City<br />
            Washington<br />
            Contact Number: 1-800-xxx-xxx
        </p>
        <!--Go to top ------------------------------------------------------------------------------->
        <div class="footer-bottom">
            <p></p>
            <p class="text-center"><a href="#">Back to top</a></p>
        </div>
    </div>
</body>
</html>
